:root.theme-dark {
  /* цвета*/
  --color-title: #DB00FF;
  --color-text: #F1B2CE;
  --accent-color: #FF0070; /* текст, фон блоков*/
  --color-bg: #000028; /* фон, текст*/
  --accent-color-focus: #FF007066;
  --color-text-title: #000028; /* цвет заголовков*/
  --color_nav: #FF0070; /* цвет меню*/
  --color-title-sectioin: #FF0070;
  --color-hover-menu: #FF007066;
}

.theme-dark .page {
  background-image: url(../images/cover-image-dark.png);
}