/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  /* цвета*/
  --color-title: #DB00FF;
  --color-text: #F1B2CE;
  --accent-color: #FF0070; /* текст, фон блоков*/
  --color-bg: #000028; /* фон, текст*/
  --accent-color-focus: #FF007066;
  --color-text-title: #000028; /* цвет заголовков*/
  --color_nav: #FF0070; /* цвет меню*/
  --color-title-sectioin: #FF0070;
  --color-hover-menu: #FF007066;

  /* шрифты*/
  --font-family: 'IBM Plex Mono', monospace;
  --font-size: 18px;
  --font-size-title: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem); /*для декстопа и планшета clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) */
  --font-weight-regular: normal;
  --font-weight-bold: bold;
  
  /* отступы*/
  --gap-side: 10px;
  --gap-ind: 10px;
  --gap-section: 30px;
  --gap-block: 50px;
  --gap-inblock: 20px;

  /* тень*/
  --shadow: 4px 4px 0 var(--accent-color);
}